@model Nop.Plugin.Sloppr.Invoice.Models.ConfigurationModel

@{
    Layout = "";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(m => m.FacebookUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(m => m.FacebookUrl)
                @Html.ValidationMessageFor(m => m.FacebookUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(m => m.TwitterUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(m => m.TwitterUrl)
                @Html.ValidationMessageFor(m => m.TwitterUrl)
            </td>
        </tr>
    </table>

    <button type="submit">Save</button>
}*@